Task 1

Read the dataset and name is as df Print first 10 observations of the dataset Check for the data types of the all the variables in the dataset Convert columns ['ObservationDate'] and ['Last Update'] to from object to datatime data type

In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/covid_19_data.csv")

In [2]:
df.head(10)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
5,6,01/22/2020,Guangdong,Mainland China,1/22/2020 17:00,26.0,0.0,0.0
6,7,01/22/2020,Guangxi,Mainland China,1/22/2020 17:00,2.0,0.0,0.0
7,8,01/22/2020,Guizhou,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
8,9,01/22/2020,Hainan,Mainland China,1/22/2020 17:00,4.0,0.0,0.0
9,10,01/22/2020,Hebei,Mainland China,1/22/2020 17:00,1.0,0.0,0.0

In [3]:
df.dtypes

SNo                  int64
ObservationDate     object
Province/State      object
Country/Region      object
Last Update         object
Confirmed          float64
Deaths             float64
Recovered          float64
dtype: object

In [4]:
df[['ObservationDate', 'Last Update']] = df[['ObservationDate', 'Last Update']].apply(pd.to_datetime)
print(df.dtypes)

SNo                         int64
ObservationDate    datetime64[ns]
Province/State             object
Country/Region             object
Last Update        datetime64[ns]
Confirmed                 float64
Deaths                    float64
Recovered                 float64
dtype: object

Task 2

Create a subset of the data df, only taking observations which was last updated on 2020-06-13 03:33:14 and name this dataframe as updated_data. Print the total no. of observations and unique country records in updated_data

In [5]:
updated_data = df[df['Last Update'] == '2020-06-13 03:33:14']

In [6]:
updated_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 729 entries, 40076 to 40804
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SNo              729 non-null    int64
 1   ObservationDate  729 non-null    datetime64[ns]
 2   Province/State   560 non-null    object
 3   Country/Region   729 non-null    object
 4   Last Update      729 non-null    datetime64[ns]
 5   Confirmed        729 non-null    float64
 6   Deaths           729 non-null    float64
 7   Recovered        729 non-null    float64
dtypes: datetime64[ns](2), float64(3), int64(1), object(2)
memory usage: 51.3+ KB

In [7]:
updated_data['Country/Region'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brunei', 'Bulgaria',
       'Burkina Faso', 'Burma', 'Burundi', 'Cabo Verde', 'Cambodia',
       'Cameroon', 'Central African Republic', 'Chad', 'Comoros',
       'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica', 'Croatia',
       'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Diamond Princess',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'Gambia', 'Georgia', 'Ghana', 'Greece', 'Grenada', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See',
       'Honduras', 'Hungary', 'Iceland', 'Indonesia', 'Iran', 'Iraq',
       'Ireland', 'Israel', 'Ivory Coast', 'Jamaica', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'MS Zaandam',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Mauritania', 'Mauritius', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Namibia', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'North Macedonia', 'Norway', 'Oman', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'Romania', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Somalia', 'South Africa', 'South Korea', 'South Sudan',
       'Sri Lanka', 'Sudan', 'Suriname', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Uganda',
       'United Arab Emirates', 'Uruguay', 'Uzbekistan', 'Venezuela',
       'Vietnam', 'West Bank and Gaza', 'Western Sahara', 'Yemen',
       'Zambia', 'Zimbabwe', 'Italy', 'Brazil', 'Russia', 'Mexico',
       'Japan', 'US', 'Canada', 'Colombia', 'Peru', 'Spain', 'India',
       'UK', 'Mainland China', 'Chile', 'Australia', 'Pakistan',
       'Germany', 'Sweden', 'Ukraine', 'Hong Kong', 'Macau'], dtype=object)

Task 3

Create a subset of data from the dataframe updated_data, only taking the top 10 countries which have the maximum number of confirmed cases with features - 'Country/Region', 'Confirmed', 'Deaths' and 'Recovered'. Name this dataframe as 'top_10'

print the name of the countries in 'top_10' dataset

Which country has the lowest number of confirmed cases among the ten countries in top_10 dataframe? Hint: use groupby() to group all the observations with same country, sum all the observations and then sort the dataframe by confirmed cases.

In [8]:
top_10 = updated_data.nlargest(10,['Confirmed'])
top_10 = top_10.iloc[:, [3,5,6,7]]

In [9]:
top_10['Country/Region']

40577        US
40556    Russia
40131    France
40148      Iran
40233    Turkey
40678    Brazil
40574        US
40377        UK
40320        US
40437        US
Name: Country/Region, dtype: object

In [10]:
top_10.groupby('Country/Region').sum().sort_values(by = 'Confirmed')

                Confirmed   Deaths  Recovered
Country/Region
UK               156410.0  37069.0        0.0
Brazil           167900.0  10368.0    49295.0
Turkey           175218.0   4778.0   149102.0
Iran             182525.0   8659.0   144649.0
France           188918.0  29315.0    69578.0
Russia           202935.0   3187.0   118024.0
US               825735.0  54485.0        0.0

In [11]:
print("From the above observation, we can conclude that 'UK' has the least number of confirmed cases.")

From the above observation, we can conclude that 'UK' has the least number of confirmed cases.

Task 4

Add two columns in 'top_10' dataframe - 'Recovered_percentage' and 'Deaths_percentage' where

'Recovered_percentage' = (Recovered cases / Confirmed cases) * 100

'Death_percentage' = (Deaths cases / Confirmed cases) * 100

Print the top 3 countries with highest recovery precent

In [12]:
Recovered_percentage = (top_10['Recovered'] / top_10['Confirmed']) * 100
top_10['Recovered_percentage'] = Recovered_percentage
Death_percentage = (top_10['Deaths'] / top_10['Confirmed']) * 100
top_10['Death_percentage'] = Death_percentage

In [13]:
top_10['Recovered_percentage'] + top_10['Death_percentage']

40577     8.057865
40556    59.728977
40131    52.347050
40148    83.992878
40233    87.822027
40678    35.534842
40574     7.516068
40377    23.699891
40320     3.394268
40437     4.771414
dtype: float64

In [14]:
top_10.nlargest(3, ['Recovered_percentage'])

,Country/Region,Confirmed,Deaths,Recovered,Recovered_percentage,Death_percentage
40233,Turkey,175218.0,4778.0,149102.0,85.095139,2.726889
40148,Iran,182525.0,8659.0,144649.0,79.248870,4.744008
40556,Russia,202935.0,3187.0,118024.0,58.158524,1.570454

In [15]:
print("Top countries with highest recovery percentage are:", "Turkey,", "Iran,", "Russia")

Top countries with highest recovery percentage are: Turkey, Iran, Russia